[Unit]
Description= This is a simple Http service from Busybox
After=network.target auditd.service
[Service]
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/nohup /bin/busybox httpd -f -p 80 -h /home/packer
[Install]
WantedBy=multi-user.target